/* Images compare main container */
.images-compare-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

/* Images compare front element */
.images-compare-before {
    will-change: clip;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}

/* Images compare back element */
.images-compare-after {
    pointer-events: none;
}

/* Responsive image settings */
.images-compare-before img, .images-compare-after img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Separator (thin vertical blank line) */
.images-compare-separator {
    position: absolute;
    background: white;
    height: 100%;
    width: 2px;
    z-index: 4;
    left: 0;
    top: 0;
}

/* Drag handle (circle) */
.images-compare-handle {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19px;
    margin-top: -22px;
    font-weight: 400;
    border: 1px solid #cbcedc;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    z-index: 3;
    background: #fff;
    cursor: pointer;
}

/* Drag handle arrows */
.images-compare-left-arrow, .images-compare-right-arrow {
    width: 0;
    height: 0;
    border: 7px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}

.images-compare-left-arrow {
    border-right: 11px solid #cbcedc;
    left: 50%;
    margin-left: -20px;
}

.images-compare-right-arrow {
    border-left: 11px solid #cbcedc;
    right: 50%;
    margin-right: -21px;
}

/* Label */
.images-compare-before .images-compare-label {color:#fff; border:1px solid #ffffff96}
.images-compare-label {
    letter-spacing: 0;
    font-weight: 300;
    position: absolute;
    font-size: 0.85rem;
    bottom: 9px;
    left: 10px;
    z-index: 1;
    color: #ff6f62;
    background: rgba(0, 0, 0, 0.26);
    padding: 2px 4px;
    border-radius: 0;
    pointer-events: none;
    display: none;
    border: 1px solid rgba(254, 115, 107, 0.75);
}

.images-compare-container .images-compare-label {
    display: inherit;
}

.images-compare-before .images-compare-label {
    left: 10px;
}

.images-compare-after .images-compare-label {
    left: auto;
    right: 10px;
}
